*.sdf
*.suo
*.ipch
*.opensdf
/Universal/x64
/Universal/x86
/Universal/SloongLua/Debug
/Universal/SloongLua/x86
/Universal/CtrlTest/x64
/Universal/CtrlTest/x86
/Universal/UnitTest/x64
/Universal/UnitTest/x86
/Universal/Universal/x86
/Universal/Universal/x64
/SloongMath/SloongMath/Debug/SloongMath.tlog
/SloongMath/SloongMath/Debug
/SloongMath/SloongMath/x64/Debug
/SloongMath/UnitTest/x64/Debug
/SloongMath/x64/Debug
