*.sdf
*.suo
*.ipch
*.opensdf
/Universal/x64
/Universal/x86
/Universal/SloongLua/Debug
/Universal/SloongLua/x86
/Universal/CtrlTest/x64
/Universal/CtrlTest/x86
/Universal/UnitTest/x64
/Universal/UnitTest/x86
/Universal/Universal/x86
/Universal/Universal/x64
/SloongMath/SloongMath/Debug
/SloongMath/SloongMath/x64/Debug
/SloongMath/UnitTest/x64/Debug
/SloongMath/x64/Debug
/SloongGraphics/SloongGraphics/Debug
/SloongMath/SloongMath/x64/Release
/SloongMath/SloongMath/x86/Release
/SloongMath/x64/Release
/SloongMath/x86/Release
/SloongGraphics/Debug
/Universal/SloongLua/x64/Debug
*.tlog
ipch
Debug
Release
tlog
*.user
*.o
*.log
*.db
/.vs/
libuniv_*
.vscode/launch.json
build/debug
build/release
